body {
  background-color: #627d62;
}

.bearForm {
  max-width: 90%;
  width: 700px;
  margin: 0 auto;
}

.bearInputs {
  font-family: 'Lato', sans-serif;
  color: white;
}

label {
  margin: 0px;
}

#riverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/images/river.jpg");
  width: 900px;
  max-width: 90%;
  height: 577px;
  margin: 10px auto;
}

#bearContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 20%;
}

.submitButton {
  background-color: #a4b65c;
  border: 1px solid #a4b65c;
}

.submitButton:hover {
  background-color: #a4b65c;
  border: 1px solid #a4b65c;
}

.oneBear {
  text-align: center;
  margin-right: 35px;
}

.displayName {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 6px;
  color: white;
  font-weight: bold;
}

#cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  max-width: 90%;
  margin: 10px auto;
}

.bearCard {
  margin:5px;
  border: 6px solid #a4b65c;
}

.bearCardImg {
  max-height: 150px;
}

.card-header {
  text-align: center;
  font-family: 'Lato', sans-serif;
  color: #627d62;
}

.card-text {
  font-family: 'Lato', sans-serif;
  font-weight: bold;
  color: #627d62;
}

.cardDetail {
  color:black;
}

.pleaseCatch {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #riverContainer {
    background-image: url("assets/images/tabletriver1.jpg");
    width: 690px;
    max-width: 90%; 
    height: 443px;
   }
   
   #bearContainer {
    width: 90%;
    height: 37%;
  }

}

@media only screen and (max-width: 500px) {
  #riverContainer {
    background-image: url("assets/images/mobileriver.jpg");
    width: 337px;
    max-width: 90%; 
    height: 215px;
    }
    
  #bearContainer {
    width: 90%;
    height: 75%;
  }

  .form-check-label {
    font-size: 10px;
  }
  .bearCard {
    margin:5px;
    border: 6px solid #a4b65c;
    max-width: 150px;
  }

  .trackingDiv {
    display: none;
  }

}
