body {
  background-color: #627d62;
}

.bearForm {
  max-width: 90%;
  width: 700px;
  margin: 0 auto;
}

.bearInputs {
  font-family: 'Lato', sans-serif;
  color: white;
}

label {
  margin: 0px;
}

#riverContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("assets/images/river.jpg");
  width: 900px;
  max-width: 90%;
  height: 577px;
  margin: 10px auto;
}

#bearContainer {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: 20%;
}

.oneBear {
  text-align: center;
  margin-right: 35px;
}

.displayName {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0px 6px;
  color: white;
  font-weight: bold;
}

#cards {
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  max-width: 90%;
  margin: 10px auto;
}

.bearCard {
  margin:5px;
}

.bearCardImg {
  max-height: 150px;
}

.pleaseCatch {
  cursor: pointer;
}
